@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #fffac8;
    --cor-secundaria: #000000;
    --cor-terciaria: #DAF5FF;
    --cor-preco: #84A98C;
    --cor-texto: #2F3E46;
    --cor-divisoria: #B6EEA6;
}

.fotos__cestas {
    margin:0;
    padding: 0;
    width: 60%;
    height: 60%;

}

.foto__divisoria {
    margin:0;
    width: 90%;

}

.apresentacao__conteudo__titulos__subtitulos {
    width: 615px;
    display:flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
    gap: 40px
}


.apresentacao__conteudo__cesta1 {
    padding: 0% 10%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    /* background-color: var(--cor-primaria);
    border: 10px solid var(--cor-divisoria);
    padding: 21.5px 0;
    border-radius: 15px; */
    gap: 24px;
}

.apresentacao__conteudo__cesta2 {

    padding: 0% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: var(--cor-primaria);
    border: 10px solid var(--cor-divisoria);
    padding: 21.5px 0;
    border-radius: 15px; */
    gap: 24px;
    
}




.apresentacao__conteudo__texto__preco {
    font-size: 24px;
    font-family: 'Krona One', sans-serif;
    color: var(--cor-preco);
}

.apresentacao__conteudo__texto__descricao {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.apresentacao__conteudo__texto__variavel {
    font-size: 24px;
    font-family: 'Krona One', sans-serif;
    font-weight: 300;
    color: var(--cor-preco);
}

.apresentacao__conteudo__subtitulo__cor {
    color: var(--cor-texto);
}

.apresentacao__conteudo__caso {
    width: 615px;
    display:flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
    gap: 40px
}